<article class="product-card card">
  <a href="{{ product.url }}" class="product-card__link">
    <div class="product-card__media">
      {%- if product.featured_image != blank -%}
        {{ product.featured_image | image_url: width: 900 | image_tag: loading: 'lazy', widths: '320, 480, 720, 900', sizes: '(min-width: 990px) 25vw, 50vw', alt: product.featured_image.alt | escape }}
      {%- else -%}
        {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
      {%- endif -%}
    </div>
    <div class="product-card__content">
      {%- if settings.show_vendor and product.vendor != blank -%}
        <p class="product-card__vendor">{{ product.vendor }}</p>
      {%- endif -%}
      <h3 class="product-card__title">{{ product.title }}</h3>
      {% render 'price', product_or_variant: product %}
      {%- if product.available -%}
        <p class="card-footer-note">In stock</p>
      {%- else -%}
        <p class="card-footer-note">Sold out</p>
      {%- endif -%}
    </div>
  </a>
</article>
